html, body {
  font-family: "Avenir", "Roboto", "sans-serif";
  margin: 0;
  padding: 0; }

h1 {
  font-size: 32px;
  font-weight: 800; }

h2 {
  font-size: 18px;
  font-weight: 800; }

h3 {
  font-weight: normal; }

.text-large {
  font-size: 50px;
  font-weight: 800; }

.text-oversized {
  font-size: 72px;
  font-weight: 800; }

.text-centered {
  text-align: center; }

.container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative; }

.container.gradient {
  background: linear-gradient(30deg, #21D4FD 0%, #B721FF 100%);
  color: #fff;
  width: 90%;
  padding: 0 5%; }
  .container.gradient h1, .container.gradient h2 {
    font-weight: normal; }

.flex-start {
  padding: 10% 0 5% 0;
  z-index: 10; }

.flex-middle {
  padding: 10% 0; }

.flex-end {
  padding: 5% 0 20% 0; }

.flex-middle {
  flex: 1; }

.flex-start.is-centered,
.flex-middle.is-centered,
.flex-end.is-centered {
  flex-direction: column;
  display: flex;
  align-items: center; }

.button {
  width: 90%;
  height: 20px;
  border-radius: 40px;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  display: block;
  font-weight: normal;
  text-align: center;
  text-decoration: none; }
  .button.gradient {
    background: linear-gradient(30deg, #21D4FD 0%, #B721FF 100%);
    color: #fff; }
  .button.primary {
    background: #21D4FD;
    color: #fff; }
  .button.light {
    background: #fff;
    color: #21D4FD; }
  .button.dark {
    background: #333;
    color: #fff; }

.link {
  color: #21D4FD;
  font-size: 18px;
  margin-top: 10px;
  border-bottom: 2px solid #21D4FD;
  text-decoration: none; }

.flex-end .button {
  left: 0;
  right: 0; }

.splash {
  height: 275px;
  width: 115.5%;
  margin: -10%;
  margin-bottom: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center; }

.splash::after {
  background: linear-gradient(30deg, #21D4FD 20%, #B721FF 80%);
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: -110px;
  right: -80px;
  bottom: 0;
  content: "";
  z-index: -1; }

.logo {
  width: 40%;
  padding: 15% 28% 0 32%; }

.profile {
  padding: 5% 0; }
  .profile .title {
    margin-bottom: 0; }
  .profile .subtitle {
    margin-top: 0; }
  .profile .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 10px solid #fff;
    background-size: cover;
    background-position: 50%; }
  .profile.on-white .image {
    border-color: #efefef; }
  .profile.large .image {
    width: 125px;
    height: 125px; }

.has-float-label {
  display: block;
  position: relative; }

.has-float-label label,
.has-float-label > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  color: #21D4FD;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.has-float-label input,
.has-float-label select {
  width: 100%;
  font-size: inherit;
  padding-top: 1em;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #C6CBD4; }

.has-float-label input::-webkit-input-placeholder,
.has-float-label select::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.has-float-label input:placeholder-shown:not(:focus)::-webkit-input-placeholder,
.has-float-label select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0; }

.has-float-label input:placeholder-shown:not(:focus) + *,
.has-float-label select.unselected:not(:focus) + * {
  font-size: 135%;
  opacity: 0.5;
  color: #6C727C; }

.has-float-label input:focus,
.has-float-label select:focus {
  outline: none;
  border-color: #21D4FD; }

.has-float-label select {
  background-color: #fff; }

.input-group {
  display: table;
  width: 100%;
  margin-bottom: 10%; }

.input-group > * {
  display: table-cell;
  width: 50%; }

.camera canvas {
  display: none; }

.camera video#camera-stream {
  display: none;
  width: 100%;
  border-radius: 10px;
  max-height: 50vh; }

.camera .capture {
  background: linear-gradient(30deg, #21D4FD 0%, #B721FF 100%);
  display: none;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #C6CBD4; }

.camera .capture.visible,
.camera video#camera-stream.visible {
  display: block; }

#loader {
  height: 0px; }

.loader-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.2);
  z-index: 9998; }

.loader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #21D4FD;
  border-radius: 50%;
  z-index: 9999; }
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite; }

@keyframes loading {
  0% {
    border: 0px solid white; }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }
@media (min-width: 500px) {
  .phone-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }

  .phone {
    height: 95vh;
    width: calc(95vh * 316 / 640);
    position: relative; }

  .phone-image {
    background: url(/pixel.png);
    background-size: contain; }

  .phone-content {
    position: absolute;
    background: white;
    top: 9.75%;
    left: 4.5%;
    right: 4.5%;
    bottom: 11.25%;
    overflow: hidden; } }

/*# sourceMappingURL=main.css.map */
